<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("marked.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.6.js"></script>
</head>
<body>
<div id="profile"></div>
<div id="projects"></div>
<div id="loginForm"></div>
<div id="passwordForm"></div>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/dashboard.js")'></script>
</body>
</html>